{% extends 'base_generic.html' %}

{% block content %}

<div class="container mt-5">
    <h4>Category Sections</h4>
    <div class="row">
        <!-- All Category -->
        <div class="col-6 col-md-2">
            <div class="category-icon text-center">
                <i class="fas fa-th-large fa-2x"></i>  <!-- Icon for "All" -->
                <p>All</p>
            </div>
        </div>

        <!-- Fruits Category -->
        <div class="col-6 col-md-2">
            <div class="category-icon text-center">
                <i class="fas fa-apple-alt fa-2x"></i> <!-- Icon for "Fruits" -->
                <p>Fruits</p>
            </div>
        </div>

        <!-- Vegetables Category -->
        <div class="col-6 col-md-2">
            <div class="category-icon text-center">
                <i class="fas fa-carrot fa-2x"></i>  <!-- Icon for "Vegetables" -->
                <p>Vegetables</p>
            </div>
        </div>

        <!-- Grains Category -->
        <div class="col-6 col-md-2">
            <div class="category-icon text-center">
                <i class="fas fa-seedling fa-2x"></i>  <!-- Icon for "Grains" -->
                <p>Grains</p>
            </div>
        </div>

        <!-- Legumes Category -->
        <div class="col-6 col-md-2">
            <div class="category-icon text-center">
                <i class="fas fa-pepper-hot fa-2x"></i>  <!-- Icon for "Legumes" -->
                <p>Legumes</p>
            </div>
        </div>
    </div>
</div>


    <!-- Farm Goods Products Section -->
    <h5 class="text-center mt-4">Farm Goods Products</h5>
    <div id="products" class="row">
        {% for product in products %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                <div class="card-body">
                    <h5 class="card-title text-center">{{ product.name }}</h5>
                    <p class="card-text">{{ product.description }}</p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Price: ${{ product.price }}</li>
                        <li class="list-group-item">Quantity Available: {{ product.quantity_available }}</li>
                        <li class="list-group-item">Owner: {{ product.owner.username }}</li>
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

